

.disable__comment__alert {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    @include respond-below(sm) {
        display: block;
        .button__group {
            margin-top: 20px;
        }
    }
    .alert__content {
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding-right: 20px;
        @include respond-below(sm) {
            padding-right: 0;
        }
        @include respond-below(xs) {
            display: block;
        }
        img {
            margin-right: 15px;
            height: 30px;
            @include respond-below(xs) {
                margin-bottom: 10px;
            }
        }
        p {
            font-size: 18px;
            font-weight: 500;
            color: $dark;
            font-family: $bodyFont;
        }
    }
    .button__group {
        flex: 0 0 208px;
    }
}