
.blog__post {
    padding: 5px;
    border-radius: 5px;
    background: $white;
    max-width: 450px;
    .thumb {
        position: relative;
        img {
            width: 100%;
        }
        .play__btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background: $success;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            box-shadow: none;
            span {
                width: 0; 
                height: 0; 
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-left: 10px solid $white;
            }
        }
    }
    .blog__post__content {
        padding: 5px 10px;
        h4 {
            font-size: 16px;
            font-weight: 500;
            color: $dark;
            line-height: 1.8;
            font-family: $bodyFont;
        }
    }
}