// import files
@import "../mixins/button";

// button color control
@each $parent, $color in $theme-colors {
	@include button-emphasis-variant(".button__#{$parent}", $color);
}

.disablecommentswrap {
	.button {
		height: 50px;
		line-height: 50px;
		padding: 0;
		border-radius: 5px;
		color: $grey2;
		font-size: 15px;
		border: 0;
		font-weight: 700;
		padding: 0 20px;
		box-shadow: none;
		font-family: $bodyFont;
		background: $grey;
		&:hover,
		&:focus {
			box-shadow: none;
			border: 0;
			color: $white;
			background: $success;
		}
		&:focus-visible {
			outline: 2px solid #00b2fc;
		}
		&.button__fade {
			// opacity: .6;
			display: flex;
			align-items: center;
			min-width: 190px;
			justify-content: center;
			.eael-spinner {
				// margin: 0 !important;
				// margin
			}
		}
		@include respond-below(md) {
			height: 50px;
			line-height: 46px;
			font-size: 13px;
		}
	}

	.button__delete {
		color: $white;
		background: #e0061a;
		&:hover,
		&:focus {
			background: rgba(255, 0, 0, 1);
			color: $white;
		}
	}
	.button__success {
		color: $white;
		background: $success;
		&:hover,
		&:focus {
			background: rgba($success, 0.9);
			color: $white;
		}
		&.button__fade {
			opacity: 0.6;

			&:disabled, &[disabled] {
				color: $white !important;
				background: $success !important;
				opacity: 0.6 !important;
			}
		}
		&.form-dirty{
			opacity: 1;
		}
		// & #eael-spinner{
		// 	display: none;
		// }
		// &.loading{
		// 	// padding: 10px 20px;
		// 	#eael-spinner{
		// 		display: inline-block;
		// 	}
		// }
	}

	.button--sm {
		height: 40px;
		line-height: 40px;
	}

	.button__group {
		.button:not(:last-child) {
			margin-right: 15px;
		}
	}
}


.cancelButton {
    padding: 0;
    border-radius: 5px;
    color: #808da1 !important;
    font-size: 15px;
    border: 0;
    font-weight: 700;
    padding: 0 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
	outline: none;
    background: #f4f6fc !important;
}
.confirmButton {
    padding: 0;
    border-radius: 5px;
    color: #fff !important;
    font-size: 15px;
    border: 0;
    font-weight: 700;
    padding: 0 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
	outline: none;
    background: #e0061a !important;
	&:focus {
		outline: none !important;
		box-shadow: none !important;
	}
}

#eael-spinner {
	width: 18px;
	display: inline-block;
	float: left;
	margin: 0 5px 0 0;

	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1.2s;
	-webkit-animation-name: rotate;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;

	-moz-transition-property: -moz-transform;
	-moz-animation-name: rotate;
	-moz-animation-duration: 1.2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;

	transition-property: transform;
	animation-name: rotate;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes rotate {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
