// import files
@import "../mixins/button";

// button color control
@each $parent, $color in $theme-colors {
	@include button-emphasis-variant(".button__#{$parent}", $color);
}

.disablecommentswrap {
	.button {
		height: 50px;
		line-height: 50px;
		padding: 0;
		border-radius: 5px;
		color: $grey2;
		font-size: 15px;
		border: 0;
		font-weight: 700;
		padding: 0 20px;
		box-shadow: none;
		font-family: $bodyFont;
		background: $grey;
		&:hover,
		&:focus {
			box-shadow: none;
			border: 0;
			color: $white;
			background: $success;
		}
		@include respond-below(md) {
			height: 50px;
			line-height: 46px;
			font-size: 13px;
		}
	}

	.button__delete {
		color: $white;
		background: #e0061a;
		&:hover,
		&:focus {
			background: rgba(255, 0, 0, 1);
			color: $white;
		}
	}
	.button__success {
		color: $white;
		background: $success;
		&:hover,
		&:focus {
			background: rgba($success, 0.9);
			color: $white;
		}
	}

	.button--sm {
		height: 40px;
		line-height: 40px;
	}

	.button__group {
		.button:not(:last-child) {
			margin-right: 15px;
		}
	}
}
