
.dc-item__card_wrap {
    height: 100%;
    display: flex;
}
.dc-item__card {
    background: $white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    flex-grow: 1;
    .thumb {
        img {
            vertical-align: middle;
            border-style: none;
        }
    }
    .card__content {
        padding: 25px 10px;
        text-align: center;
        h3 {
            font-size: 20px;
            font-weight: 500;
            font-family: $bodyFont;
            color: $dark;
            margin-bottom: 10px;
        }
        p {
            font-size: 14px;
            font-weight: 400;
            color: $grey3;
            line-height: 2.14;
            margin-bottom: 20px;
        }
    }
}

