.disable_option {
    .select2-container--default .select2-selection--multiple {
        min-height: 30px;
        padding: 0;
        min-width: 290px;
		width: 100%;
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0.15);
    }
    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border-color: rgba(0, 0, 0, 0.15);
    }
    .select2-container {
        min-width: 290px;
        width: auto !important;
    }
    .select2-container .select2-search--inline {
        float: none;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
        width: auto;
        display: inline-flex;
        flex-wrap: wrap;
        gap: 0 5px;
        margin-top: 0;
        padding: 0 8px;
        align-items: center;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        position: static;
        border-right: 0;
        line-height: 1;
        font-size: 16px;
        margin-right: 3px;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove span {
        line-height: 1;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        float: none;
        display: flex;
        align-items: stretch;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 3px;
        border: 1px solid rgba(0, 0, 0, 0.15);
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__display {
        padding-left: 5px;
        border-left: 1px solid rgba(0, 0, 0, 0.15);
    }
    .select2-container--default .select2-search--inline .select2-search__field {
        margin-top: 0px;
        margin-left: 0px;
        height: 30px;
        padding-top: 7px;
        width: auto !important;

        font-size: 12px;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #687b95;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: #687b95;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: #687b95;
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: #687b95;
        }
    }
	.select2-container--default .select2-selection--multiple .select2-selection__choice {
		margin-top: 0 !important;
        margin-bottom: 0 !important;
	}
    .select2-container .select2-search--inline .select2-search__field {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        min-height: 38px !important;
        padding-top: 11px !important;
    }
}
