.disable__comment__nav__wrap {
	background: $white;
	border-radius: 5px;
	position: relative;
	.plugin__version {
		position: absolute;
		font-size: 16px;
		font-weight: 500;
		color: $grey3;
		font-family: $bodyFont;
		top: 50%;
		right: 30px;
		transform: translateY(-50%);

		@include respond-below(sm) {
			position: static;
			top: 0;
			transform: translateY(0);
			padding: 10px 10px 10px 20px;
		}
	}
	.disable__comment__nav {
		display: flex;
		flex-wrap: wrap;
		margin-top: 0;
		.disable__comment__nav__item {
			margin-bottom: 0;
			.disable__comment__nav__link {
				font-size: 16px;
				font-weight: 700;
				color: $grey3;
				text-transform: uppercase;
				font-family: $bodyFont;
				padding: 17px 20px;
				outline: none;
				box-shadow: none;
				&.active {
					color: $dark;
					position: relative;
					&:before {
						position: absolute;
						left: 0;
						right: 0;
						bottom: 0;
						height: 2px;
						background: $danger;
						content: "";
					}
				}
			}
		}
		@include respond-below(md) {
			.disable__comment__nav__item {
				.disable__comment__nav__link {
					font-size: 18px;
				}
			}
		}
		@include respond-below(xs) {
			.disable__comment__nav__item {
				.disable__comment__nav__link {
					font-size: 16px;
				}
			}
		}
	}
}

.disable__comment__tab {
	padding-top: 25px;
}

.disable__comment__tab__item {
	display: none;
	&.show {
		display: block;
	}
}

.disable__comment__option {
	.title {
		font-size: 22px;
		font-weight: 500;
		color: $dark;
		margin-bottom: 5px;
	}
	.subtitle {
		color: $grey3;
		font-size: 14px;
		font-family: $bodyFont;
		font-weight: 400;
		padding-left: 0;
		line-height: 1.5;
		.danger {
			color: $danger;
			font-weight: 500;
		}
	}
	.disable_option {
		border-radius: 5px;
		h3 {
			font-size: 18px;
			font-weight: 500;
			color: #22282d;
			font-family: "DM Sans", sans-serif;
			position: relative;
			line-height: 1.3;
			// padding-left: 25px;
			display: block;
			margin-bottom: 15px;
		}
		input[type="radio"] {
			display: none;
		}
		input[type="radio"]:checked ~ label {
			&:before {
				border-color: $success;
			}
			&:after {
				opacity: 1;
			}
		}
		input[type="radio"] ~ label {
			font-size: 18px;
			font-weight: 500;
			color: $dark;
			font-family: $bodyFont;
			position: relative;
			line-height: 1.3;
			padding-left: 25px;
			display: block;
			margin-bottom: 15px;
			&:before {
				position: absolute;
				top: 4px;
				left: 0;
				height: 12px;
				width: 12px;
				border-radius: 50%;
				border: 1px solid $grey3;
				content: "";
			}
			&:after {
				position: absolute;
				top: 7px;
				left: 3px;
				height: 8px;
				width: 8px;
				border-radius: 50%;
				border: 0;
				background: $success;
				content: "";
				opacity: 0;
				transition: all 0.3s ease;
			}
			span {
				font-size: 16px;
				font-weight: 400;
				color: $grey3;
			}
		}
		.disable__checklist {
			display: flex;
			flex-wrap: wrap;
			.disable__checklist__item {
				flex: 0 0 140px;
				margin-right: 10px;
				margin-bottom: 10px;

				input {
					display: none;
				}
				input:checked ~ label {
					&:before {
						border-color: $info;
						background: $info;
					}
					&:after {
						opacity: 1;
					}
				}
				label {
					font-size: 16px;
					font-weight: 500;
					color: $grey3;
					font-family: $bodyFont;
					position: relative;
					line-height: 1.3;
					padding-left: 25px;
					display: block;
					&:before {
						position: absolute;
						top: 4px;
						left: 0;
						height: 10px;
						width: 10px;
						border: 1px solid $grey3;
						content: "";
					}
					&:after {
						position: absolute;
						top: -2px;
						left: 2px;
						height: 11px;
						width: 11px;
						border: 0;
						content: url(../img/check.png);
						opacity: 0;
						transition: all 0.3s ease;
					}
				}
			}
		}
		.delete__checklist {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 10px;
			&.disabled__sites {
				.delete__checklist__item {
					flex: 0 1 200px;
				}
			}
			.delete__checklist__item {
				flex: 0 0 130px;
				margin-right: 10px;
				margin-bottom: 10px;
				input {
					display: none;
				}
				input:checked ~ label {
					&:before {
						border-color: $info;
						background: $info;
					}
					&:after {
						opacity: 1;
					}
				}
				label {
					font-size: 18px;
					font-weight: 500;
					color: $grey3;
					font-family: $bodyFont;
					position: relative;
					line-height: 1.3;
					padding-left: 25px;
					display: block;
					&:before {
						position: absolute;
						top: 4px;
						left: 0;
						height: 12px;
						width: 12px;
						border: 1px solid $grey3;
						content: "";
					}
					&:after {
						position: absolute;
						top: -2px;
						left: 2px;
						height: 13px;
						width: 13px;
						border: 0;
						content: url(../img/check.png);
						opacity: 0;
						transition: all 0.3s ease;
					}
				}
			}
		}
		.remove__checklist {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 10px;
			&.disabled__sites {
				.remove__checklist__item {
					flex: 0 1 200px;
				}
			}
			.remove__checklist__item {
				flex: 0 0 130px;
				margin-right: 10px;
				margin-bottom: 10px;
				input {
					display: none;
				}
				input:checked ~ label {
					&:before {
						border-color: $info;
						background: $info;
					}
					&:after {
						opacity: 1;
					}
				}
				label {
					font-size: 18px;
					font-weight: 500;
					color: $grey3;
					font-family: $bodyFont;
					position: relative;
					line-height: 1.3;
					padding-left: 25px;
					display: block;
					&:before {
						position: absolute;
						top: 4px;
						left: 0;
						height: 12px;
						width: 12px;
						border: 1px solid $grey3;
						content: "";
					}
					&:after {
						position: absolute;
						top: -2px;
						left: 2px;
						height: 13px;
						width: 13px;
						border: 0;
						content: url(../img/check.png);
						opacity: 0;
						transition: all 0.3s ease;
					}
				}
			}
		}
		.dissable__switch__item {
			margin-bottom: 10px;
			input {
				display: none;
			}
			input:checked ~ label {
				color: $dark;
				.switch {
					background: $success;
					&:before {
						left: 23px;
					}
					.switch__text {
						left: 5px;
						&.on {
							display: block;
						}
						&.off {
							display: none;
						}
					}
				}
			}
			label {
				font-size: 16px;
				font-weight: 500;
				color: $grey3;
				font-family: $bodyFont;
				display: inline-flex;
				align-items: center;
				@include respond-below(xxs) {
					font-size: 14px;
				}
				.switch {
					flex: 0 0 35px;
					height: 16px;
					width: 35px;
					margin-right: 20px;
					border-radius: 10px;
					background: $darkGrey;
					display: inline-block;
					font-size: 8px;
					text-transform: uppercase;
					font-weight: 400;
					color: $white;
					font-family: $bodyFont;
					padding: 2px 5px;
					position: relative;
					transition: all 0.3s ease;
					@include respond-below(xxs) {
						font-size: 10px;
					}
					&:before {
						position: absolute;
						top: 4px;
						left: 4px;
						border-radius: 50%;
						background: $white;
						height: 8px;
						width: 8px;
						content: "";
						transition: all 0.3s ease;
					}
					.switch__text {
						position: absolute;
						top: 2px;
						left: 16px;
						transition: all 0.3s ease;
					}
					.switch__text.on {
						display: none;
					}
				}
			}
		}
		.delete__feedback {
			margin-bottom: 10px;
			label {
				font-size: 14px;
			}
			.delete__feedback__item {
				position: relative;
				display: inline-block;
				padding-right: 8px;
				&:not(:last-child) {
					&:before {
						position: absolute;
						top: 7px;
						right: -2px;
						bottom: 7px;
						width: 2px;
						background: $grey3;
						content: "";
					}
				}
				&:last-child {
					padding-left: 8px;
				}
				a {
					font-size: 18px;
					font-weight: 500;
					color: $grey3;
					outline: none;
					box-shadow: none;
				}
			}
		}
		.disable__option__description {
			font-size: 15px;
			font-weight: 400;
			line-height: 1.8;
			color: $grey3;
			font-family: $bodyFont;
			.danger {
				color: $danger;
				font-weight: 500;
			}
		}
	}
	.total-comments {
		font-size: 16px;
		line-height: 26px;
		margin-top: 20px;
		color: #687b95;
	}
}
