

.dc-tutorials {
    border-radius: 5px;
    max-width: 450px;
    padding-bottom: 25px;
    h3 {
        font-size: 20px;
        font-weight: 500;
        color: $dark;
        font-family: $bodyFont;
        margin-bottom: 20px;
        @include respond-below(xxs) {
            font-size: 20px;
        }
    }
    .tutorial__list {
        .tutorial__item {
            display: flex;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            .icon {
                flex: 0 0 50px;
                max-width: 50px;
                height: 50px;
                border-radius: 5px;
                background: $grey;
                padding: 14px;
                margin-right: 15px;
                svg {
                    path {
                        fill: $grey2;
                        transition: all .3s ease;
                    }
                }
            }
            h4 {
                font-size: 15px;
                line-height: 1.6;
                font-weight: 500;
                color: $grey3;
                font-family: $bodyFont;
                transition: all .3s ease;
                @include respond-below(xxl) {
                    font-size: 14px;
                }
                a {
                    outline: none;
                    box-shadow: none;
                }
            }
            &:hover {
                .icon {
                    svg {
                        path {
                            fill: $success;
                        }
                    }
                }
                h4 {
                    color: $dark;
                }
            }
            // @include respond-below(xxs) {
            //     flex-direction: column;
            //     .icon {
            //         margin-bottom: 15px;
            //     }
            // }
        }
    }
}