.disablecommentswrap {
	padding: 30px 50px;
	@include respond-below(xs) {
		padding: 30px;
	}
	.delete-comments-not-found {
		width: 60%;
		margin: 0 auto;
		text-align: center;
		.error-message {
			margin-top: 30px;
			color: #444;
		}
	}
}

.sidebar__widget__wrap {
	margin-top: 50px;
}

.dc-text__block {
	background: $white;
	padding: 30px;
	border-radius: 10px;
}

.dc-row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.dc-col {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
}

.dc-col,
.dc-col-xs-6,
.dc-col-sm-6,
.dc-col-md-6,
.dc-col-lg-4,
.dc-col-lg-3,
.dc-col-lg-9 {
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}
@include respond-above(xs) {
	.dc-col-xs-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}
}
@include respond-above(sm) {
	.dc-col-sm-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}
}
@include respond-above(md) {
	.dc-col-md-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}
}
@include respond-above(lg) {
	.dc-col-lg-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}
	.dc-col-lg-4 {
		flex: 0 0 33.33%;
		max-width: 33.33%;
	}
	.dc-col-lg-9 {
		flex: 0 0 75%;
		max-width: 75%;
	}
}
